# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
*.log

# HuggingFace / Transformers
outputs/
cache/
datasets/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Docker
*.dockerignore
*.swp
docker-compose.override.yml
